fastapi==0.141.1
joblib==1.5.3
jose==1.0.0
pandas==3.0.5
prometheus_fastapi_instrumentator==8.1.0
pydantic==2.13.5
python-dotenv==1.2.3
redis==8.1.0
scikit_learn==1.9.0
starlette==1.6.0
uvicorn[standard]==0.52.4